@import "tailwindcss";

body {
	background: url("./assets/bg.webp") no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100dvh;
	width: 100%;
	overflow: auto;
	background-attachment: fixed;
}

.light body {
	background: url("./assets/light-bg.webp") no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@layer {
	@layer {
		.hide-scroll {
			@apply [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden;
		}

		.grid-view {
			@apply grid gap-2 grid-cols-[repeat(auto-fill,minmax(240px,1fr))] sm:grid-cols-[repeat(auto-fill,minmax(250px,1fr))];
		}

		.glass {
			background: rgba(255, 255, 255, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}

		.light .glass {
			background: rgba(50, 50, 50, 0.1);
			border: 1px solid rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}

		.glass-mod {
			background: rgba(30, 41, 59, 0.314);
			border: 1px solid rgba(30, 41, 59, 50);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}

		.glass-head-btn {
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			color: #fff;
		}

		.description a {
			@apply text-gray-300 hover:text-blue-300;
		}
	}
}
